body {
  display: flex;
  flex-wrap: wrap;
}

.assignment {
  position: relative;
  width: 400px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.progress {
  position: absolute;
  border-radius: 5px;
  background: yellow;
  width: 0%;
  height: 100%;
}

.assign-text {
  text-align: center;
  width: 100%;
  position: absolute;
  line-height: 20px;
}
