<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
  integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
  crossorigin="anonymous">

  <title>Idle Game Company Tycoon</title>
</head>

<body>
  <section class="info-panel">
    <p class="money">Money: 0$</p>
    <p class="date"></p>
  </section>
  <header>
    <button class="loc Aligner-item ">LoC</button>
  </header>
  <nav>
    <div class="first-nav">
      <div class="nav-button applications">Employees</div>
      <div class="nav-button available-contracts">Availab C</div>
      <div class="nav-button unused">unused</div>
    </div>
    <div class="second-nav">
      <div class="nav-button active-contracts">Contracts</div>
      <div class="nav-button active-employees">Employees</div>
      <div class="nav-button unused">unused</div>
    </div>
  </nav>
  <section class="second-panel">
  </section>
  <main>
  </main>
  <footer></footer>
  <script src="js/app.js"></script>
</body>

</html>
