* {
  padding: 0;
  margin: 0;
}

html  {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Section Styles*/

.info-panel  {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: url('../img/final.jpg') repeat;
  -webkit-box-shadow: 0px 3px 29px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 29px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 29px 8px rgba(0,0,0,0.75);
  border-bottom: 1px solid black;
  z-index: 1;
  padding: 0px 20px;
  color: white;
}

header  {
  width: 100%;
  height: 24%;
  background: url('../img/header-sky-test.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 50px;
  background: grey;
  display: flex;
  flex-wrap: wrap;
}

.second-panel {
  box-sizing: border-box;
  width: 50%;
  height: calc(76% - 90px);
  background: url('../img/final.jpg') repeat;
  border: 5px solid black;
  color: white;
  padding: 16px;
  overflow: auto;
}

main {
  box-sizing: border-box;
  width: 50%;
  height: calc(76% - 90px);
  background: url('../img/final.jpg') repeat;
  border: 5px solid black;
  color: white;
  padding: 16px;
  font-size: 0.8em;
}

/*Header Related content*/

.loc  {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 0px 13px 0px rgba(255,255,255,1), 2px 2px 18px 0px rgba(0,0,0,0.75);;
  -moz-box-shadow: inset 0px 0px 13px 0px rgba(255,255,255,1), 2px 2px 18px 0px rgba(0,0,0,0.75);;
  box-shadow: inset 0px 0px 13px 0px rgba(255,255,255,1),  2px 2px 18px 0px rgba(0,0,0,0.75);;
  background: #0dba21;
  border: 0;
}

/*Align classes for flex containers*/
.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

/*Available Tasks Menue*/

.available-tasks {
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 35vw;
  color: white;
  background: #552382;
  border: 10px solid #8d1af4;
  padding: 10px;
  font-size: 0.8em;
  margin-bottom: 5px;
}

/*Assignments Menue*/

.assignment {
  position: relative;
  width: 80%;
  max-width: 400px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 20px;
}

.progress {
  position: absolute;
  border-radius: 5px;
  background: yellow;
  width: 0%;
  height: 100%;
}

.assign-text {
  text-align: center;
  width: 100%;
  position: absolute;
  line-height: 20px;
}

/*Available applications menue*/
.available-applications {
  box-sizing: border-box;
  background: blue;
  border: 10px solid #006;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.employee {
  box-sizing: border-box;
  background: blue;
  border: 2px solid #006;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.empl-text {
  text-align: center;
  width: 30%;
  line-height: 20px;
}

/*Buttons*/
.accept-button {
  position: absolute;
  bottom: 4px;
  right: 4px;
  border: green solid 2px;
  box-sizing: border-box;
}

.saveload{
  margin-top: -18px;
  height: 100%;
}
.save{
  float: right;
  box-sizing: border-box;
  border: 2px blue solid;
  height: 100%;
  width: calc(100% / 8);
  background: green;
  text-align: center;
  line-height: 35px;
  color: white;
}
.load {
  float: right;
  box-sizing: border-box;
  border: 2px blue solid;
  height: 100%;
  width: calc(100% / 8);
  background: green;
  text-align: center;
  line-height: 35px;
  color: white;
}


/*Navigation menues*/

.first-nav {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background: yellow;
}

.second-nav {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background: red;
}

.first-nav, .second-nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-button {
  box-sizing: border-box;
  border: 2px blue solid;
  height: 100%;
  width: calc(100% / 3);
  background: green;
  text-align: center;
  line-height: 45px;
  color: white;
}

