.App-page-list {
  padding:10px 0;
  height: 96%;
  width: 20vw;
  background-color: #eae0cc;
  overflow: auto;
  float: left;
  border: 2px solid #5a7f79;
  border-radius: 0.5vh;
  box-sizing: border-box;
}

.App-page-list-object {
  background-color: #eae0cc;
  padding:10px 15px;
  transition: 0.5s;

}

.App-page-list-object:hover{
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-color: #5a7f79;
}

.App-page-body {
  float:right;
  color: none;
  padding:10px 0;
  height: 96%;
  width: 79vw;
  background-color: #eae0cc;
  overflow: auto;
  box-sizing: border-box;
  border: 2px solid #5a7f79;
  border-radius: 0.5vh;
}
.App-page-body-object {
  padding: 10px 15px;
}
