p {
  margin-right: 3px;
}

.App {
  align-items: center;
  background-color: grey;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App-info-panel {
  border-radius: 15px;
  box-sizing: border-box;
  width: 99vw;
  height: 8vh;
  background: green;
  display: flex;
  flex-wrap: wrap;
}

  .App-info-panel-data{
    display: flex;
    flex-wrap: wrap;
  }

  .App-info-panel-home-button{
   margin-left: auto;
   margin-right: 1vh;
   margin-top: 1vh;
   height: 6vh;
   border-width: 2px;
   border-radius: 12px;
  }

.App-animation-frame {
  border-radius: 15px;
  width: 99vw;
  height: 20vh;
  background: black;
  color: white;
}

.App-page {
  border-radius: 15px;
  width: 99vw;
  flex-grow: 1;
  flex-basis: 20px;
  background: yellow;
  box-sizing: border-box;
  overflow: auto;
}

nav {
  border-radius: 15px;
  box-sizing: border-box;
  width: 99vw;
  background: red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
