p {
  margin-right: 3px;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App-info-panel {
  box-sizing: border-box;
  width: 100vw;
  height: 50px;
  background: green;
  display: flex;
  flex-wrap: wrap;
}

  .App-info-panel-data{
    display: flex;
    flex-wrap: wrap;
  }

  .App-info-panel-home-button{
   margin-left: auto;
   margin-right: 5px;
   margin-top: 5px;
   height: 40px;
   border-width: 5px;
   border-radius: 12px;
  }

.App-animation-frame {
  width: 100vw;
  height: 20vh;
  background: black;
  color: white;
}

.App-page {
  width: 100vw;
  flex-grow: 1;
  flex-basis: 20px;
  background: yellow;
  box-sizing: border-box;
  overflow: auto;
}

nav {
  box-sizing: border-box;
  width: 100vw;
  background: red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
