.App-page-list {
  padding:10px 0;
  height: 95%;
  width: 20vw;
  background-color: silver;
  overflow: auto;
  float: left;

}
.App-page-list-object {
  font-size: 10pt;
  background-color: silver;
  padding:10px 15px;
  transition: 0.5s;

}

.App-page-list-object:hover{
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-color: gray;
}

.App-page-body {
  visibility: hidden;
  float:right;
  color: none;
  padding:10px 0;
  height: 95%;
  width: 75vw;
  background-color: silver;
  overflow: auto;
}
