p {
  margin-right: 3px;
}

.App {
  font-size: 10pt;
  align-items: center;
  background-color: #eae0cc;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App-info-panel {
  margin: 1vh 0;
  box-sizing: border-box;
  width: 99vw;
  height: 6vh;
  background: #5a7f79;
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 1vw;
  border-radius: 2vh;
}

.App-animation-frame {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 99vw;
  height: 20vh;
  background: #2292a4;
  color: white;
  overflow: hidden;
}

.App-page {
  width: 99vw;
  flex-grow: 1;
  flex-basis: 20px;
  background: #eae0cc;
  box-sizing: border-box;
  overflow: hidden;
}

nav {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
  width: 99vw;
  background: #5a7f79;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
hr {
  width: 95%;
  color:#5a7f79;
  margin-top: -1px;
  margin-bottom: -1px;
}
